<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>博客管理登录</title>
</head>

<body>
<br>
<br>
<br>
    <div class="m-container-small m-padding-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            管理后台登录
                        </div>
                    </h2>
<!--    th:action="@{/admin/login}会把post得到的参数传到service层的admin/login拦截处                -->
                    <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码">
                                </div>
                            </div>
                        <button class="ui fluid large teal submit button">登   录</button>
                        </div>

                        <div class="ui error mini message"></div>
                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
                    </form>

                    <div class="ui message">
                        New to us? <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<th:block th:replace="admin/_fragments :: script"></th:block>

<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier : 'username',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请输入账户名'
                }]
            },
            password : {
                identifier : 'password',
                rules : [{
                    type : 'empty',
                    prompt : '内容：请输入密码'
                }]
            }
        }
    });
</script>

</body>
</html>