<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>首页</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(1)"></nav>

    <!--中间内容-->
    <div class="m-container-small m-padding-tb-big">
        <div class="ui container"><!--表示一个容器-->
            <div class="ui stackable grid">
                <!--这是左边列表正文专栏-->
                <div class="eleven wide column">
                    <!--这是头部-->
                    <div class="ui top segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">Blog</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block" th:text="${pageInfo.total}">14</h2> 篇
                            </div>
                        </div>
                    </div>
                    <!--这是中间内容-->
                    <div class="ui attached segment">

                        <div class="ui padding vertical segment m-padding-tb" th:each="blog : ${pageInfo.list}">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">自我介绍</a></div>
                                    <p class="m-text" th:text="|${blog.description}......|">我的名字叫吉良吉影，33岁。住在杜王町东北部的别墅区一带，未婚。我在龟友连锁店服务。
                                        每天都要加班到晚上8点才能回家。我不抽烟，酒仅止于浅尝。
                                        晚上11点睡，每天要睡足8个小时。 睡前，我一定喝一杯温牛奶，然后做20分钟的柔软操...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content"><a herf="#" class="header" th:text="${blog.user.nickname}">吉良吉影</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-3-02</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${blog.type.name}">深入了解</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="../static/images/avatar.jpg" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--footer-->
                    <div class="ui bottom attached segment" >
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <div class="item"><a class="ui mini blue basic button" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                            </div>
                            <div class="right aligned column">
                                <div class="item"><a class="ui mini blue basic button" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment m-inline-block">
                        <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
                    </div>
                </div>

                <!--这是右边卡片专栏-->
                <div class="five wide column">
                    <!--分类-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column stackable grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blanl" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column stackable grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a herf="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" th:each="tag : ${tags}" class="ui teal basic left pointing label m-margin-tb-tiny">
                                <span th:text="${tag.name}">Java并发 </span><div class="detail" th:text="${#arrays.length(tag.blogs)}">20</div>
                            </a>
                        </div>
                    </div>
                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment" th:each="recommendBlog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${recommendBlog.id})}" th:text="${recommendBlog.title}" class="m-black m-text-thin" >用户故事（User Story）</a>
                        </div>
                    </div>
                    <!--二维码-->
                    <h4 class="ui inverted horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <div class="ui centered card" style="width: 11em;">
                        <img src="../static/images/wechat.png" th:src="@{images/wechat.png}" alt="" class="ui rounded image" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <!--底部脚本元素-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid"><!--分成16份-->
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.png" th:src="@{images/wechat.png}" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: 498166439@qq.com</a>
                        <a href="#" class="item">QQ: 498166439</a>
                        <a href="#" class="item">Wechat: robinz1996</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享编程，刷题，思考相关任何内容，希望可以让大家一起WDNMD...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2020 - 2021 RobinZ Designed By RobinZ</p>
        </div>
    </footer>

    <th:block th:replace="_fragments :: script"></th:block>

    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>
</html>